<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom">
    <a href="/">
      <img src="assets/klm-logo.svg" alt="klm" class="icon-48" />
    </a>
    <h3 class="my-0 mr-md-auto mx-3"><a href="/" class="text-dark-grey">{{ appName }}</a></h3>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark-grey" routerLink="/airport-list" routerLinkActive="active">Airports</a>
      <a class="p-2 text-dark-grey" routerLink="/statistics" routerLinkActive="active">Statistics</a>
      <a class="p-2 text-dark-grey" routerLink="/help" routerLinkActive="active">Help</a>
    </nav>
  </div>
</header>
