<div class="row">
    <div class="col"></div>
    <div class="col p-3">
        <div ngbDropdown class="d-inline-block p-2">
            <button class="btn btn-outline-primary" id="metricList" ngbDropdownToggle>{{selectedMetric}}</button>
            <div ngbDropdownMenu aria-labelledby="metricList">
                <button ngbDropdownItem *ngFor="let metricName of metricNames" (click)="loadMetric(metricName)" >{{metricName}}</button>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block p-2">
            <button class="btn btn-outline-primary" id="tagList" ngbDropdownToggle>{{selectedTag}}</button>
            <div ngbDropdownMenu aria-labelledby="tagList">
                <button ngbDropdownItem *ngFor="let tagName of tagNames" (click)="loadTag(tagName)" >{{tagName}}</button>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block p-2">
            <button class="btn btn-outline-primary" id="valueList" ngbDropdownToggle>{{selectedValue}}</button>
            <div ngbDropdownMenu aria-labelledby="valueList">
                <button ngbDropdownItem *ngFor="let tagValue of tagValues" (click)="loadValue(tagValue)" >{{tagValue}}</button>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Statistic</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let measurement of measurements; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ measurement.statistic}} </td>
                <td>{{ measurement.value | number }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col"></div>
</div>