<form>
    <div class="form-group form-inline px-4 pt-4 pb-2">
        Search airport list:<input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
        <div id="result-loading" class="loading-container ml-3" *ngIf="service.loading$ | async">
            <img src="assets/loading-blue.gif" class="loading-animation"/>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" sortable="name" (sort)="onSort($event)">Airport Name</th>
            <th scope="col" sortable="code" (sort)="onSort($event)">IATA Code</th>
            <th scope="col" sortable="city" (sort)="onSort($event)">City</th>
            <th scope="col" sortable="country" (sort)="onSort($event)">Country</th>
            <th scope="col" sortable="description" (sort)="onSort($event)">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let airport of airports$ | async; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td><ngb-highlight [result]="airport.name" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="airport.code" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="airport.parent.name" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="airport.parent.parent.name" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="airport.description" [term]="service.searchTerm"></ngb-highlight></td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="25">25 items per page</option>
            <option [ngValue]="50">50 items per page</option>
        </select>
    </div>

</form>