
.plan-search-field select {
  width: 45px;
  padding: 6px 6px;
}

.planner-icon {
  opacity: 0.4;
  width: 30px;
  height: 30px;
  margin: 0.25rem 0rem 0.25rem 1rem!important;
}

.planner-icon:hover {
  opacity: 1;
  text-decoration: none;
}

.loading-container {
  position: relative;
  overflow: hidden;
  width: 240px;
  height: 20px;
  top: 10px;
}

.loading-animation {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

