<div class="plan-search-form px-4 py-3">
  <form action="/plan" autocomplete="off" method="GET" name="planner">
    <div class="row">
      <div class="col-xl-3 px-2 py-2">
        <input id="typeahead-origin" name="origin" type="text" class="form-control" placeholder="Origin"
               [(ngModel)]="origin" [class.is-invalid]="originInvalid" [editable]="false"
               [ngbTypeahead]="searchOrigin" (selectItem)="selectOrigin($event.item)"
               [resultFormatter]="formatTypeahead" [inputFormatter]="formatInput" />
      </div>
      <div class="col-xl-3 px-2 py-2">
        <input id="typeahead-destination" name="destination" type="text" class="form-control"  placeholder="Destination"
               [(ngModel)]="destination" [class.is-invalid]="destinationInvalid" [editable]="false"
               [ngbTypeahead]="searchDestination" (selectItem)="selectDestination($event.item)"
               [resultFormatter]="formatTypeahead" [inputFormatter]="formatInput" />
      </div>
      <div class="col px-2 py-2">
        <div id="result-loading" class="loading-container" *ngIf="loading">
          <img src="assets/loading-blue.gif" class="loading-animation"/>
        </div>
        <div class="media" id="deal" *ngIf="fareText">
          <img src="assets/price-tag.png" class="icon-30 planner-icon"/>
          <div class="media-body">
            <h5 class="mx-3 my-2" [innerHTML]="fareText"></h5>
          </div>
          <a class="btn btn-outline-primary" href="/signup">Book My Trip</a>
        </div>
        <div class="invalid-feedback d-block mx-3 my-2" *ngIf="errorMessage" [innerHTML]="errorMessage"></div>
      </div>
    </div>
  </form>
</div>
