<footer class="container text-muted">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2019 KLM.
    &middot; <a routerLink="/instructions.html" routerLinkActive="active">Instructions</a>
    &middot; <a routerLink="/imprint" routerLinkActive="active">Imprint / Credits</a>
  </p>
</footer>
